<form class="example-container" [formGroup]="options" >
    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <mat-select [formControl]="color">
        <mat-option value="primary">Primary</mat-option>
        <mat-option value="accent">Accent</mat-option>
        <mat-option value="warn">Warn</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Font size</mat-label>
      <input matInput [formControl]="font" type="number" placeholder="Ex. 12" min="10">
      <span matSuffix>px</span>
    </mat-form-field>

    <button (click)="onSubmit()">TEST</button>

    {{color$}}
  </form>